.marking {
  width: 290px;
  height: 290px;
  background-color: transparent;
  border: none;
}

td {
  width: 84px;
  height: 84px;
}

table,
tr,
td {
  border: 3px solid var(--color-fourth);
  border-radius: 1.5px;
  border-collapse: collapse;
  border-top: none;
  border-left: none;
}
