.layer-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-medium) var(--spacing-big);
}

.layer-header > .about {
  margin-left: auto;
  margin-right: var(--spacing-small);
}
