.board {
  padding: 15px;
}

.hash {
  display: grid;
  height: 100%;
  background-color: var(--color-third);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 3px;
  row-gap: 3.5px;
}

.hash > .item {
  background-color: var(--color-lighter);
  display: flex;
  justify-content: center;
}
