.event-label {
  background-color: var(--color-zero);
  padding: var(--spacing-very-small) var(--spacing-medium);
  border-radius: 2em;
}

.event-label.-end {
  text-transform: uppercase;
  background-color: var(--color-nineteen);
}
