.layer-about {
  background-color: var(--color-darkest);
  color: var(--color-lighter);
  width: 100%;
  height: 100vh;
}

.layer-about .about-link {
  color: var(--color-lighter);
}

.header-game {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-game > .logo {
  margin-left: 35px;
  margin-right: 10px;
}

.header-game > .menu {
  margin-right: 36px;
}

.layer-about .menu::after,
.layer-about .menu::before,
.layer-about .menu > .center {
  background-color: var(--color-lighter);
}

.layer-about > .avatar {
  margin-top: 115px;
}

.layer-about > .description {
  margin: 0 auto;
}
