.header-container {
  padding: 20px 34px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.menu-container {
  display: flex;
}

.about {
  margin-right: 5px;
}
