.header-game {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-game > .about {
  margin-left: auto;
  margin-right: 10px;
}

.header-game > .menu {
  width: 25px;
}
